@using Microsoft.AspNetCore.Mvc.TagHelpers
@inject MyDbContext dbContext
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Andon_MVC</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>

<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-md-block sidebar">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Andon_MVC</a>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-column">
                <div class="navbar-nav flex-column">
                    <nav class="nav d-flex flex-column">

                        @{
                            var workcenterList = dbContext.WorkcenterList.OrderBy(w => w.WorkcenterRow).ToList();
                            foreach (var workcenter in workcenterList)
                            {
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="AndonTerminal" 
                                   asp-route-workcenterID="@workcenter.WorkcenterID" 
                                   asp-route-workcenterName="@workcenter.WorkcenterName">@workcenter.WorkcenterID</a>
                            }
                        }
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Overview">Overview</a>
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Log">Log</a>
                        <a class="nav-link text-dark" asp-area="" asp-controller="Settings" asp-action="Settings">Settings</a>
                    </nav>
                </div>
            </div>
        </nav>

        <main role="main" class="col-md-10 ml-sm-auto">
            @RenderBody()
        </main>
    </div>
</div>


    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Andon_MVC
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
